<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <title>About</title>
    <link rel="icon" href="/assets/weather.png">
    <div class="main-content">
        {{>header}}
        <p>This site was created by Kim Pavilario.</p>
        <img class='portrait' src="/assets/robot.png">
    </div>
    
    {{>footer}}
</body>
</html>